<div class="content">
<br>
<br>
<br>
<br>
<center><div style="height: 848px; width: 900px;" class="ui card">
<h2 style="color:white;"> <%= current_user.username %>'s Account<h2>
<div class="avatar-container">
<img class="ui medium circular image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
</div>
<h2 style="color:white;">Jennifer Vargas<h2>
<strong style="color:white;">Email: </strong><br>
<h2 style="color:white;">blueroses90@email.com<h2>
<strong style="color:white;">Password: </strong><br>
<h2 style="color:white;">CENSORED!<h2>
<a style="color:white;" href="/users/edit">Edit Account</a> |
<a style="color:white;" href="/listings">View My Listings</a>
</div></center>
<br>
<br>
<br>
<br>
</div>