/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 */

@import "fotorama";

body {
    margin: 0 !important;
    background-color: white;
}

.add-to-cart-bar {
    overflow: auto;
    display: flex;
    align-items: right;
    background-color: black;

    & > * {
        flex: 1 1 0;
        margin: 0 30px;
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

    #add-to-cart-right {
        display: flex;
        justify-content: flex-end;
    }
}

.add-to-cart-pic {
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: 20px;
    margin-left: 10px;
}

#add-to-cart {
    display: flex;
    color: white;
    text-align: right;
    justify-content: flex-end;
    margin-left: 10px;
}

#itemCount {
    display: block;
    color: white;
    text-align: right;
    margin-left: 10px;
}

.logo {
    height: auto;
    width: 120px;
    margin-left: 20px;
    margin-bottom: -14px;
}

.top-nav {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #560128;
    padding: 10px 10px;
    margin: 0;
  
    & > * {
      flex: 1 1 0;
    }

    #top-nav-left {
        display: flex;
        align-items: center;
    }
}

.ui.buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: 1326px;
}

.bottom-nav {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #bd1965;
    padding: 15px 15px;
    margin-top: 0;

    & > * {
        flex: 1 1 0;
    }
  
    #bottom-nav-left {
        display: flex;
        align-items: center;
    }
}

.item {
    text-decoration: none;
    color: white;
    padding-left: 60px;
}

.item:hover {
    color: lightpink;
}

.text {
    color: white;
    padding-left: 50px;
}

.ui.compact.menu {
    display: flex;
    justify-content: flex-end;
    margin-left: 1435px;
}

.guerlain {
    margin-top: 60px;
    padding: 10px;
}

.fenty {
    margin-top: 60px;
    padding: 10px;
}

.tom-ford {
    margin-top: 120px;
    padding: 10px;
}

.ysl {
    padding: 10px;
}

.wnw {
    margin-top: 115px;
    padding: 10px;
}

.elf {
    padding: 30px;
    margin-left: 3.5px;
}

.nyx {
    margin-top: 80px;
    padding: 10px;
}

.ui.cards > .card > .image {
    background: rgba(0, 0, 0, 0);
}

.lip-pic {
    height: auto;
    width: 800px;
}
